{% extends "partials/base.html" %}
{% block title %}Queued files{% endblock %}
{% set active_page = "queue" %}
{% block content %}
    <div class="row mb-3">
        <h5 class="card-title col mb-0">Queued Files</h5>
        <div class="col d-flex gap-2 justify-content-end">
            <button id="refreshFiles" type="button" class="btn btn-secondary btn-sm" data-target="queue" title="Refresh">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
            <div id="tableButtons" class="d-flex gap-2"></div>
        </div>
    </div>
    <div class="card-text">
        <div id="filesResult">
            {% include 'render/failedFiles.html' %}
        </div>
    </div>
{% endblock %}
